{% extends "base.html" %}
{% load static %}
{% block content %}

<!-- <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_GOOGLE_MAPS_API_KEY"></script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: { lat: 0, lng: 0 },
            zoom: 2
        });

        var geocodedAddresses = JSON.parse('{{ geocoded_addresses|safe }}');
        for (var i = 0; i < geocodedAddresses.length; i++) {
            var address = geocodedAddresses[i];
            var marker = new google.maps.Marker({
                position: { lat: address.latitude, lng: address.longitude },
                map: map,
                title: address.name
            });
        }
    }
</script> -->
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <!-- Job listing area start -->
    <section class="job-list-section bg-light-white pt-90 pb-100">
        <div class="containerx">
            <div class="row align-items-end  mb-45">
                <div class="col-lg-7 col-md-12 text-center text-lg-left">
                    <div class="fancy-head left-al">
                        <h1 class="mb-sm-10">All Collection Centers</h1>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 text-center text-lg-right">
                    <p class="job-found f-500 blue">
                        <span class="green">Available</span> Centers Found
                    </p>
                </div>
            </div>
       
            <!-- Create a div for the map -->
            <div id="map" style="height: 400px;"></div>
        
            <script>
                // Initialize the map
                var map = L.map('map').setView([51.505, -0.09], 13);

                // Add the OSM tile layer
                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
                }).addTo(map);

                var geocodedAddresses = {{ geocoded_addresses| safe }};
                for (var i = 0; i < geocodedAddresses.length; i++) {
                    var address = geocodedAddresses[i];
                    var marker = L.marker([address.latitude, address.longitude]).addTo(map);
                    marker.bindPopup(address.name).openPopup();
                }
            </script>
    
    
            <br>
            <form action="{% url 'account:search_result' %}" class="search" method="get">
                <div class="form-group relative mb-45 ">
                    <input type="text" class="form-control input-lg input-white shadow-5" name="q" placeholder="Search for collection (Location, Name, State)...">
                    <i class="fas fa-search transform-v-center"></i>
                </div>
            </form>
            <div class="row">
                {% for object in object_list %}
                <div class="col-lg-6">
                    <div class="job-list d-flex align-items-center justify-content-between">
                        <div class="job-detail">
                            
                            <h5 class="f-700 fs-19 mb-5"><a href="{% url 'account:nearby_recycling_centres_detail' object.id %}" >{{object.name}}</a></h5>
                            <p class="green f-500 mb-5">{{object.full_address|truncatechars:45}}</p>
                            <ul class="list-inline fs-12 mb-5">
                                <li class="list-inline-item pr-15">
                                    <i class="fas fa-map-marker-alt mr-10 fs-14 green"></i>{{object.state}}
                                </li>
                                <li class="list-inline-item pr-15">
                                    <i class="fas fa-phone mr-10 fs-14 green"></i>{{object.number}}</li>
                            </ul>
                        </div>
                        <div class="job-apply">
                            <a href="{% url 'account:nearby_recycling_centres_detail' object.id %}" class="plus-btn flex-center">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
            {% if is_paginated %}
            <div class="pagination-type1 left-align mb-md-50">
                <ul>
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-long-arrow-alt-left"></i></a>
                    </li>
                    
                    {% endif %}
                    {% for i in paginator.page_range %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </li>
                     {% endif %}
                </ul>
            </div>
            {% endif %}

        </div>
       
    </section>

        <!-- immer banner start -->
        <section class="inner-banner pt-10 pb-15 bg-light-white"> 
            <div class="containerx">
                <div class="row z-5 align-items-center"> 
                    <div class="col text-center">
                        <a href="/"  class="formbold-btn">Back to Home</a>
                    </div>
                   
                </div>
            </div>
        </section>
   
    <!-- Job listing area end -->



{% endblock content %}