{% extends "base.html" %}
{% load static %}
{% block content %}


    <!-- immer banner start -->
    <section class="inner-banner pt-80 pb-95" style="background-image: url('../static/img/banner/inner-banner.jpg'); height: 20rem;" data-overlay="7">
        <div class="container">
            <div class="row z-5 align-items-center" style="padding: 5rem;">
                <div class="col-md-8 text-center text-md-left">
                    <h1 class="f-700 green white">Collection Centers</h1>
                    <span class="green-line bg-green d-none d-md-inline-block"></span>
                </div>
                <div class="col-md-4 text-center text-md-right">
                    <nav aria-label="breadcrumb" class="banner-breadcump">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'account:home_page' %}"><i class="fas fa-home fs-12 mr-5"></i>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Collection centers</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    <!-- Job listing area start -->
    <section class="job-list-section bg-light-white pt-90 pb-100">
        <div class="container">
            <div class="row align-items-end  mb-45">
                <div class="col-lg-7 col-md-12 text-center text-lg-left">
                    <div class="fancy-head left-al">
                        <h1 class="mb-sm-10">All Collection Centers</h1>
                    </div>
                </div>
                <div class="col-lg-5 col-md-12 text-center text-lg-right">
                    <p class="job-found f-500 blue">
                        <span class="green">Available</span> Centers Found
                    </p>
                </div>
            </div>
            <form action="{% url 'account:search_result' %}" class="search" method="get">
                <div class="form-group relative mb-45 ">
                    <input type="text" class="form-control input-lg input-white shadow-5" name="q" placeholder="Search for collection (Location, Name, State)...">
                    <i class="fas fa-search transform-v-center"></i>
                </div>
            </form>
            <div class="row">
                {% for object in object_list %}
                <div class="col-lg-6">
                    <div class="job-list d-flex align-items-center justify-content-between">
                        <div class="job-detail">
                            
                            <h5 class="f-700 fs-19 mb-5"><a href="{% url 'account:nearby_recycling_centres_detail' object.id %}" >{{object.name}}</a></h5>
                            <p class="green f-500 mb-5">{{object.full_address|truncatechars:45}}</p>
                            <ul class="list-inline fs-12 mb-5">
                                <li class="list-inline-item pr-15">
                                    <i class="fas fa-map-marker-alt mr-10 fs-14 green"></i>{{object.state}}
                                </li>
                                <li class="list-inline-item pr-15">
                                    <i class="fas fa-phone mr-10 fs-14 green"></i>{{object.number}}</li>
                            </ul>
                        </div>
                        <div class="job-apply">
                            <a href="{% url 'account:nearby_recycling_centres_detail' object.id %}" class="plus-btn flex-center">
                                <i class="fas fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            
            </div>
            {% if is_paginated %}
            <div class="pagination-type1 left-align mb-md-50">
                <ul>
                    {% if page_obj.has_previous %}
                    <li>
                        <a href="?page={{ page_obj.previous_page_number }}"><i class="fas fa-long-arrow-alt-left"></i></a>
                    </li>
                    
                    {% endif %}
                    {% for i in paginator.page_range %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li>
                        <a href="?page={{ page_obj.next_page_number }}"><i class="fas fa-long-arrow-alt-right"></i></a>
                    </li>
                     {% endif %}
                </ul>
            </div>
            {% endif %}

        </div>
    </section>
    <!-- Job listing area end -->

   
<!-- Client logos area start -->
<section class="client-list  pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="how-it-content z-5 mt-5">
                    <h1 class=" f-700 mt-35 wow fadeInDown">Become an agent today!</h1>
                    <p class=" mt-10 mb-40 wow fadeInDown">Register to become an agent today and help recycle Nigeria. Fill the form to get started with the application process.</p>
                    <a href="{% url 'account:become_an_agent' %}" class="btn btn-round blob-small mb-55 wow fadeInUp">REGISTER NOW!<i class="fas fa-long-arrow-alt-right ml-20"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client logos area end -->

{% endblock content %}