

    <!-- Our features start -->

    <section class="features-area bg-light-white pt-40 pb-40 pb-xs-00">
        <div class="container">
            <div class="row">
                <div class="col-sm-3 text-center text-lg-left">
                    <div class="icon-box d-flex flex-column flex-lg-row align-items-center">
                        <div class="icon-img mr-20 mr-md-00 mb-md-10">
                            <img src="{% static 'img/feature/icon3.png' %}" alt="Icon">
                        </div>
                        <div class="icon-text">
                            <h5 class="f-700">Recycle at Home</h5>
                            <p style="text-align: justify;">Learn how to recycle your wastes at home today.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center text-lg-left">
                    <div class="icon-box d-flex flex-column flex-lg-row align-items-center">
                        <div class="icon-img mr-20 mr-md-00 mb-md-10">
                            <img src="{% static 'img/feature/icon1.png' %}" alt="Icon">
                        </div>
                        <div class="icon-text">
                            <h5 class="f-700">Recycle Nearby</h5>
                            <p style="text-align: justify;">Find the nearest recycling centres to you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center text-lg-left">
                    <div class="icon-box d-flex flex-column flex-lg-row align-items-center">
                        <div class="icon-img mr-20 mr-md-00 mb-md-10">
                            <img src="{% static 'img/feature/icon2.png' %}" alt="Icon">
                        </div>
                        <div class="icon-text">
                            <h5 class="f-700">Become An Agent</h5>
                            <p style="text-align: justify;">Become an agent, and start recycling today.</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 text-center text-lg-left">
                    <div class="icon-box d-flex flex-column flex-lg-row align-items-center">
                        <div class="icon-img mr-20 mr-md-00 mb-md-10">
                            <img src="{% static 'img/feature/icon3.png' %}" alt="Icon">
                        </div>
                        <div class="icon-text">
                            <h5 class="f-700">General info on recycling</h5>
                            <p style="text-align: justify;">Know more on how to recycle.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Our features end -->

    <!-- About us start -->
    <section class="about-us pt-100 pb-100">
        <div class="container">
            <div class="row align-items-xl-center">
                <div class="col-lg-5">
                    <div class="ceo-video relative img-lined mx-auto shadow-1 wow fadeInLeft">
                        <img src="{% static 'img/about/ceo.jpg' %}" alt="">
                        <div class="blob green transform-center">
                        </div>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="about-text mt-md-60 text-center text-lg-left wow fadeInRight">
                        <div class="fancy-head left-al  mb-10">
                            <h5 class="line-head mb-10">
              <span class="line before d-lg-none"></span>
                About Us
              <span class="line  after"></span>
            </h5>
                            <h1>Welcome to our recycling product! </h1>
                        </div>
                        <p>We're on a mission to make recycling cool, easy, and accessible for everyone. Our goal is to not only make recycling more accessible but also to educate and raise awareness about the importance of recycling for our planet. Our app is designed to help you understand the ins and outs of recycling. We provide detailed information on how to recycle different materials, as well as tips and tricks for reducing waste in your daily life. Our interactive map feature helps you locate nearby recycling centres, making it easy for you to drop off your recyclable materials.
                        </p>
                        <p>But we don't stop there. We also want to make sure that the logistics of recycling are as seamless as possible. Our app allows you to schedule pickups for your recyclable materials, and our network of agents will take care of the rest. We'll pick up your materials, sort them, and transport them to the nearest recycling centre.
                        </p>
                        <div class="about-author mt-20 d-flex align-items-center justify-content-center justify-content-lg-start">
                            <!-- <div class="signature mr-45 mr-xs-15">
                                <img src="{% static 'img/about/signature.png' %}" alt="">
                            </div> -->
                            <!-- <div class="name-author">
                                <p class="name">Jhon Doe</p>
                                <p>Founder & CEO</p>
                            </div> -->
                        </div>
                        <div class="hr-line mb-30 mt-30"></div>
                       
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About us end -->


    <!-- Client logos area start -->
    <section class="client-list bg-light-white pt-100 pb-70">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6 col-xl-5 text-center text-lg-left">
                    <div class="clients-left-part">
                        <div class="fancy-head left-al">
                            <h5 class="line-head mb-15">
                  <span class="line before d-lg-none"></span>
                    Our Clients
                  <span class="line after"></span>
                </h5>
                            <h1 class="mb-15">Trusted by World’s Biggest Brands</h1>
                        </div>
                        <p class="mb-35 pr-45 pr-md-00">Quisque enim ipsum, commodo et venenatis rutrum, luctus in enim. Quisque dapibus lacus non pulvinar lobortis. Cras odio dolor.</p>
                        <a href="{% url 'account:download_qr' %}" class="btn btn-blue uppercase shadow-2">Download Qr
                            <i class="fas fa-long-arrow-alt-right ml-15"></i>
                        </a>
                    </div>
                </div>
                <div class="col-lg-6 mt-md-60 offset-xl-1 offset-lg-0">
                    <div class="row">
                        <div class="ceo-video relative img-lined mx-auto shadow-1 wow fadeInLeft">
                                <img src="{% static 'qr.png' %}" alt="" height="350">
                          
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Client logos area end -->
    <!-- Blog/news letter area start -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <!-- Blog section start -->
                    <div class="blog-outer pt-95 pb-100 pb-md-60 mr-65 mr-md-00">
                        <div class="fancy-head left-al mb-45">
                            <h5 class="line-head mb-15">
                      News & blogs
                    <span class="line after"></span>
                  </h5>
                            <h1>Latest News</h1>
                        </div>
                        {% for blog in blog_posts %}
                        <div class="each-blog pb-25 mb-25 d-flex align-items-center">
                            <div class="blog-date text-center transition-4 bg-light-white mr-30">
                                <h2 class="day green mb-10 f-700">{{blog.created_on|date:"d"}}</h2>
                                <p class="month mb-0">{{blog.created_on|date:"M"}}</p>
                            </div>
                            <div class="blog-text">
                                <h6>
                      <a href="{% url 'account:blog_detail' blog.id %}" class="f-700">{{blog.title|truncatechars:80}}</a>
                    </h6>
                                <p class="f-500 mb-0">Admin</p>
                            </div>
                        </div>
                      {% endfor %}
                        
                    </div>
                    <!-- Blog section end -->
                </div>
                <div class="col-lg-6 mb-md-60 pb-md-60">
                    <!-- subscribe us section start -->
                    <div class="subscribe h-100 pt-95 pb-100 pl-65 pr-65 pl-xs-25 pr-xs-25 " style="background-image: url('./staticimg/bg/bg_newsletter.jpg');" data-overlay="9">
                        <div class="fancy-head left-al z-10 mb-40">
                            <h5 class="line-head mb-15">
                      Newsletter
                    <span class="line after"></span>
                  </h5>
                            <h1>Subscribe Us</h1>
                        </div>
                        <div class="subscribe-cotnent z-10">
                            <p class="mb-45">Subscribe to get our monthly news letters on how to recycle and keep Nigeria clean.</p>
                            <form method="POST" action="">
                                {% csrf_token %}
                                {{ form }}
                                <button class="btn btn-blue uppercase shadow-2" type="submit">Subscribe
                                    <i class="fas fa-long-arrow-alt-right ml-15"></i>
                                </button>
                            </form>
                        </div>
                    </div>
                    <!-- subscribe us section end -->
                </div>
            </div>
        </div>
    </section>
    <!-- Blog/news letter area end -->