{% extends "base.html" %}
{% load static %}
{% block content %}

    <!-- immer banner start -->
    <section class="inner-banner pt-80 pb-95" style="background-image: url('../static/img/banner/inner-banner.jpg'); height: 20rem;" data-overlay="7">
        <div class="container">
            <div class="row z-5 align-items-center" style="padding: 5rem;">
                <div class="col-md-8 text-center text-md-left">
                    <h1 class="f-700 green white">How to recycle at home</h1>
                    <span class="green-line bg-green d-none d-md-inline-block"></span>
                </div>
                <div class="col-md-4 text-center text-md-right">
                    <nav aria-label="breadcrumb" class="banner-breadcump">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'account:home_page' %}"><i class="fas fa-home fs-12 mr-5"></i>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">How to recycle...</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>

    
    <!-- Terms & Conndition -->

    <section class="terms pt-95 pb-75">
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-10 offset-lg-1">
                    <h5 class="f-700 mb-10">
                        General (how to recycle at home):
                        </h5>
                        <ul class="check-list-2 mb-15">
                            <li>Collect your recyclable materials in a designated bin or receptables. This can be anything
                                from cardboard boxes and paper to plastic bottles and aluminium cans.
                                </li>
                            <li>Sort your recyclables into the correct categories based on material type. This will help the
                                recycling process go more smoothly and ensure that the materials are recycled properly.
                                </li>
                            <li>Rinse and clean your recyclables before putting them in the bin. This will help reduce
                                contamination and make sure the materials are recycled correctly.
                                </li>
                            <li>Make sure to recycle every type of recyclable material separately. This includes paper,
                                plastic, metal, flexibles, used beverage cartons and glass.
                                </li>
                            <li>Try to avoid creating excess waste in the first place. This will help reduce the number of
                                recyclable materials that need to be processed.
                                </li>
                        </ul>
                        <h5 class="f-700 mb-10">
                            Plastic bottles: Which plastic bottles can be recycled?
                        </h5>
                            <ul class="check-list-2 mb-15">
                                <li>All clear and coloured plastic bottles from around the home</li>
                                <li>Cleaning product bottles, e.g. bathroom cleaners and bleach, with any triggers left on</li>
                                <li>Detergent and soap bottles, minus the pump</li>
                                <li>Fizzy and non-fizzy drinks and water bottles</li>
                                <li>Shampoo, shower gel and skin care product bottles</li>
                                <li>Milk bottles</li>
                                <li>Ready-to-use plant food and pesticides bottles - check the label</li>
                            </ul>
                            <h5 class="f-700 mb-10">
                                Plastic bottles: Which plastic bottles can't be recycled?

                            </h5>
                            <ul class="check-list-2 mb-15">
                                <li>Plastic bottles containing chemicals, e.g. anti-freeze</li>
                            </ul>
                            <h5 class="f-700 mb-10">
                                How to recycle plastic bottles
                            </h5>
                            <ul class="check-list-2 mb-15">
                                <li>Empty and rinse bottles. Leftover foods or liquids can contaminate other recyclables and if bottles contain liquid they may not be recycled as deemed too heavy by the automated sorting process. Liquid can also damage the machinery.
                                </li>
                                <li>Cleaning product bottles, e.g. bathroom cleaners and bleach, with any triggers left on</li>
                                <li>Leave on labels - these will be removed in the process.  </li>
                                <li>Squash bottles to save space.</li>
                                <li>Replace lids and tops. If they stay in the container they will get recycled.</li>
                                <li>Milk bottles</li>
                                <li>If the lid is already attached, leave attached as this will ensure the lid is recycled along with the bottle.
                                </li>
                            </ul>

                            <h5 class="f-700 mb-10">
                                Aluminium foil: Which foil or aluminium items can be recycled?
                            </h5>
                                <ul class="check-list-2 mb-15">
                                    <li>Foil food trays, barbeque trays and takeaway containers</li>
                                    <li>Kitchen foil, aluminium pot lids and wrappers</li>
                                    <li>Drinks cans</li>
                                    <li>Screw top lids from wine bottles</li>
                                </ul>
                                <h5 class="f-700 mb-10">
                                    Aluminium foil: How to recycle foil
    
                                </h5>
                                <ul class="check-list-2 mb-15">
                                    <li>Wipe or dip foil trays in washing-up water to remove any crumbs or food residue.</li>
                                    <li>Scrunch kitchen foil, aluminium pot lids and wrappers together to form a ball - the bigger the better is easier to recycle.
                                    </li>
                                    <li>Leave aluminium screw top lids on jars and wine bottles.</li>
                                </ul>

                                <h5 class="f-700 mb-10">
                                    Paper: Which paper items can be recycled?
                                </h5>
                                    <ul class="check-list-2 mb-15">
                                        <li>Brown paper - this should be recycled with card, not paper because it causes brown flecks in new paper</li>
                                        <li>Clean paper - paper is a valuable recyclable material but only when it is clean</li>
                                        <li>Computer and shredded paper</li>
                                        <li>Envelopes, including those with a window</li>
                                        <li>Magazines, brochures, leaflets, junk mail, telephone directories and catalogues</li>
                                        <li>Newspapers and supplements</li>
                                    </ul>
                                    <h5 class="f-700 mb-10">
                                        Paper: Which paper items can't be recycled?
        
                                    </h5>
                                    <ul class="check-list-2 mb-15">
                                        <li>Brown paper - this should be recycled with card not paper because it causes brown flecks in new paper</li>
                                        <li>Hygiene and sanitary products such as nappies, wipes or sanitary towels</li>
                                        <li>Non-paper gift wrap or bags, e.g. foil-based gift wrapping</li>
                                        <li>Paper that is stained with foodstuffs, grease, paint or dirt, e.g. kids paintings, greaseproof or baking paper</li>
                                        <li>Tissues or used paper towel</li>
                                        <li>Sticky papers, e.g. Post-it notes, sticky labels or paper tape</li>
                                        <li>Wet wipes, cotton wool or makeup pads</li>
                                        <li>Wallpaper</li>
                                    </ul>
                                    <h5 class="f-700 mb-10">
                                        Glass: Which glass items can be recycled?
                                    </h5>
                                        <ul class="check-list-2 mb-15">
                                            <li>Bottles of any colour, e.g. wine, beer, spirits</li>
                                            <li>Jars, e.g. sauces, jam, baby food</li>
                                            <li>Non-food bottles, e.g. perfume, aftershave, face creams</li>
                                        </ul>
                                        <h5 class="f-700 mb-10">
                                            Glass: Which glass items can't be recycled?
            
                                        </h5>
                                        <ul class="check-list-2 mb-15">
                                            <li>Ceramics, e.g. crockery, earthenware</li>
                                            <li>Drinking glasses</li>
                                            <li>Glass cookware, e.g. Pyrex, microwave plates</li>
                                            <li>Light bulbs and tubes</li>
                                            <li>Vases</li>
                                        </ul>
                                        <h5 class="f-700 mb-10">
                                            Glass: How to recycle glass
            
                                        </h5>
                                        <ul class="check-list-2 mb-15">
                                            <li>Empty and give a quick rinse - leftover liquid can contaminate other recyclables which may mean they aren't recycled.</li>
                                            <li>Put lids and caps back on - this reduces the chance of them getting lost during the sorting process as they can be recycled separately.                                            </li>
                                            <li>Corks should be removed from bottles before they are recycled but can be home composted.</li>
                                            <li>At bottle banks, blue glass goes in with green glass.</li>
                                            <li>Don't put glass milk bottles into a bottle bank or in your glass recycling. If your milk is delivered in glass bottles you should always return them to your milkman.</li>
                                        </ul>
                    <div class="col-xl-6 text-center text-md-left">
                        <a href="#" class="btn btn-square-border download-btn">Download Recycle QR
        <i class="fas fa-download ml-15"></i>
      </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Terms & Conndition -->



{% endblock content %}