{% extends "base.html" %}
{% load static %}
{% block content %}

 <!-- Login area start -->
 <section class="login pt-100 pb-100">
    <div class="containerx">
        <div class="row no-gutters">
            <div class="col-xl-7 col-lg-6 d-none d-lg-block">
                <div class="login-image bg-cover h-100" style="background-image: url('../static/img/bg/login.jpg');">

                </div>
            </div>
            <div class="col-xl-5 col-lg-6 ">
                <div class="form-area bg-light-white">
                    <h2 class="f-700 mb-15">Become An Agent</h2>
                    <p>Fill out the form, and a follow-up message will be forwarded to you within two working days.</p>
                    <form method="POST" action="">
                        {% csrf_token %}
                        {{ form }}
                        <button type="submit" class="btn btn-round btn-block shadow-4 mt-20">Register</button>
                        <div class="signup-login text-center">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login area end -->


{% endblock content %}