{% extends "base.html" %}
{% load static %}
{% block content %}
    <!-- immer banner start -->
    <section class="inner-banner pt-80 pb-95" style="background-image: url('../static/img/banner/inner-banner.jpg'); height: 20rem;" data-overlay="7">
        <div class="container">
            <div class="row z-5 align-items-center" style="padding: 5rem;">
                <div class="col-md-8 text-center text-md-left">
                    <h1 class="f-700 green white">Become An Account</h1>
                    <span class="green-line bg-green d-none d-md-inline-block"></span>
                </div>
                <div class="col-md-4 text-center text-md-right">
                    <nav aria-label="breadcrumb" class="banner-breadcump">
                        <ol class="breadcrumb justify-content-center">
                            <li class="breadcrumb-item"><a href="{% url 'account:home_page' %}"><i class="fas fa-home fs-12 mr-5"></i>Home</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Become An Agent</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </section>
 <!-- Login area start -->
 <section class="login pt-100 pb-100">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-xl-7 col-lg-6 d-none d-lg-block">
                <div class="login-image bg-cover h-100" style="background-image: url('../static/img/bg/login.jpg');">

                </div>
            </div>
            <div class="col-xl-5 col-lg-6 ">
                <div class="form-area bg-light-white">
                    <h2 class="f-700 mb-15">Become An Agent</h2>
                    <p>Fill out the form, and a follow-up message will be forwarded to you within two working days.</p>
                    <form action="#">
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="text" class="form-control input-lg input-white shadow-5" id="name" placeholder="Full Name">
                            <i class="far fa-user transform-v-center"></i>
                        </div>
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="email" class="form-control input-lg input-white shadow-5" id="email" placeholder="Email Address">
                            <i class="far fa-envelope transform-v-center"></i>
                        </div>
                        <div class="form-group relative mb-25 mb-sm-20">
                            <input type="tel" class="form-control input-lg input-white shadow-5" id="email" placeholder="Phone Number">
                            <i class="far fa-mobile transform-v-center"></i>
                        </div>
                        <div class="form-group relative mb-20 mb-sm-20">
                            <input type="text" class="form-control input-lg input-white shadow-5" id="pwd" placeholder="State">
                            <i class="fas fa-map transform-v-center"></i>
                        </div>
                        <div class="form-group form-check pl-0">
                            <div class="d-flex justify-content-between">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="customCheck1" checked="">
                                    <label class="custom-control-label fs-13" for="customCheck1"><span class="label-check">Accept terms and condition </span></label>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-round btn-block shadow-4 mt-20">Register</button>
                        <div class="signup-login text-center">
                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Login area end -->


<!-- Client logos area start -->
<section class="client-list bg-light-white pt-100 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-lg-3 text-center">
                <div class="how-it-content z-5 mt-5">
                    <h1 class=" f-700 mt-35 wow fadeInDown">Register your collection center now!</h1>
                    <p class=" mt-10 mb-40 wow fadeInDown">All clients can add their recycling or collection facility to the list of centers we display on our website.</p>
                    <a href="{% url 'account:nearby_recycling_centres_create' %}" class="btn btn-round blob-small mb-55 wow fadeInUp">REGISTER NOW!<i class="fas fa-long-arrow-alt-right ml-20"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Client logos area end -->

{% endblock content %}