@import url('https://fonts.googleapis.com/css?family=Montserrat:600|Open+Sans');



.section-lead {
    max-width: 300px;
    margin: 1rem auto 1.5rem;
}



.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    /* Add padding */
}

.service {
    background: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    border: 2px solid #e7e7e7;
    transition: all 0.3s ease;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service:hover {
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.08);
}

.service i {
    font-size: 3.45rem;
    margin: 1rem 0;
}

.service1 i,
.service1 h4,
.service1 .cta {
    color: #fff;
}

.service1:hover {
    border: 2px solid #156433;
}

.service2 i,
.service2 h4,
.service2 .cta {
    color: #fff;
}

.service2:hover {
    border: 2px solid #156433;
}

.service3 i,
.service3 h4,
.service3 .cta {
    color: #fff;
}

.service3:hover {
    border: 2px solid #156433;
}

.service .cta span {
    font-size: 0.6rem;
}

.service>* {
    flex: 1 1 100%;
}

.service .cta {
    align-self: flex-end;
}

@media all and (max-width:900px) {
    .services-grid {
        display: -webkit-box;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        flex-direction: column;
    }
}